<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Certificate Unverified</h1>
        <div>
            <h4>Sorry, the certificate for the given ID cannot be verified.</h4>

            <br />
            <a href="/certificate/verify">Verify Another Certificate</a>

        </div>
    </body>
</html>