<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Create Template</h1>
        <form action="/template/create" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" /> 
            <label for="name">Organisation:</label>
            <input type="text" name="organisation" id="organisation" />           
            <button type="submit">Submit</button>
        </form>
    </body>
</html>