<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>All Template</h1>
        <% templates.forEach((item) => {%>
            <div>
                <img src=<%= item.tempalte %> />
                <p><%= item.organisation %></p>
            </div>
        <% }) %>
    </body>
</html>